.logo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.header-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
    transition: all 0.3s linear;
}

header a:hover, footer a:hover{
    transform: scale(1.1);
}

a.active{
    box-sizing: border-box;
    border-bottom: 2px solid;
}